html {
    background-color: #faedcd;
    font-family: Trebuchet MS;
    scroll-behavior: smooth;
}

.index {
    position: fixed;
    width: 14%;
    height: 92vh;
    padding: 1rem;
    font-size: 1.1rem;
    line-height: 2rem;
    border: 5px solid #8ecae6;
    border-radius: 10px;
    background-color: #8ecae6;
}

.index>ul {
    line-height: 2rem;
}

a {
    color: black;
    text-decoration: none;
}

.section {
    width: 90%;
    margin: auto;
    border: 5px solid #8ecae6;
    background-color: #8ecae6;
    border-radius: 10px 65px 10px 10px;
    padding: 20px;
    margin-bottom: 25px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.content {
    width: 80%;
    float: right;
    margin-top: 25px;
}

#main, #class1, #class2, #class3, #class4, #class5 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #8ecae6;
    border-radius: 10px 65px 10px 10px;
    padding: 30px;
    text-align: justify;
    margin-bottom: 25px;
}

.pic {
    float: right;
    text-align: center;
    margin: 4%;
}

img {
    width: 250px;
    height: auto;
    border-radius: 10px 65px 10px 10px;
    border: 5px solid #fb8500;
}

p,
ul {
    font-weight: normal;
    line-height: 1.5rem;
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8ecae6;
    color: white;
    border: none;
    border-radius: 25%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

#scrollToTop:hover {
    background-color: #6eb1d5;
    transform: scale(1.05);
}

footer {
    width: 100%;
    margin-top: 5%;
    float: inline-end;
    text-align: center;
    position: sticky;
}

footer>h3>a {
    text-decoration: underline;
}