html {
    background-color: rgb(196, 217, 241);
    font-family: Century Gothic;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

header {
    font-size: large;
}

.container {
    margin: auto;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5%;
    width: 400px;
    height: 490px;
    background-color: white;
}

.output {
    padding: 15px;
    margin: -25px;
    border-radius: 20px;
    background-color: rgb(53, 53, 53);
    color: white;
    font-size: 50px;
    text-align: right;
    width: 417px;
    height: 75px;
    display: inline;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}

button {
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: 40px;
}

button.operator {
    background-color: rgb(240, 148, 94);
    color: white;
}

.ac {
    color: white;
    background-color: firebrick;
}

.equal-sign {
    grid-row: span 2;
    height: auto;
}

.back {
    color: rgb(240, 148, 94);
    font-size: 30px;
}

.zero {
    grid-column: span 2;
}


footer {
    background-color: blue;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 20px;
    bottom: 0px;
    left: 0%;
}